<div class="container">
  <% if notice %>
    <div class="row mt-2">
      <div class="col-12">
        <div class='alert alert-success alert-dismissible fade in show'>
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="row mt-2">
      <div class="col-12">
        <div class='alert alert-danger alert-dismissible fade in show'>
         <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <%= alert %>
       </div>
      </div>
    </div>
   <% end  %>
</div>
